html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;

    font-family: monospace;

    font-weight: 100;
    color: hsl(var(--color-black));
}

:where(h1, h2, h3) {
    font-weight: inherit;
}

[data-dragged] {
    --color: var(--color-offset);
}

[draggable] {
    cursor: grab;
}

/* TODO - ... this was intresting, maybe make this public? */

[draggable]:hover:not(:has([draggable]:hover)) {
    --border-opacity: 0.75;
    --color: var(--color-offset);
}

html[data-dragging].COM-MODULE com-chain::part(modules) {
    --bg-opacity: 1;
    gap: 6px;
}

html[data-dragging].COM-OUT com-module::part(outs) {
    --bg-opacity: 1;
    padding-block: 4px;
}

:root {
    --color-black: 0 0% 5%;
    --color-white: 0 0% 97.5%;

    --color-primary: 55 100% 75%;
    --color-offset: 195 75% 45%;
}

::-webkit-scrollbar {
    background: transparent;
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: hsl(var(--color-primary) / 1);
    border-radius: 8px;
}
